[Unit]
Description=ELFE Python Service


[Service]
ExecStart=/home/sgodin/dev/work/elfe/commande/venv/bin/python3 -m commande.py
WorkingDirectory=/home/sgodin/dev/work/elfe/commande/